# Node
node_modules
npm-debug.log*
package-lock.json
!apps/api/package-lock.json
!package-lock.json

# Docker
**/Dockerfile*
!apps/api/Dockerfile
!apps/frontend/Dockerfile
**/.dockerignore
!apps/api/.dockerignore
!apps/frontend/.dockerignore

env
*.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker Compose volume data
**/postgres_data
